* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle, #1a1a1a 0%, #0a0a0a 100%);
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
}

header {
    padding: 25px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);

}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #0a0a0a;
}

header h1 {
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 300;
    color: #fff;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav a {
    color: #888;
    text-decoration: none;
    font-size: 0.85rem;
    text-transform: uppercase;
    transition: 0.4s;
}

nav a:hover {
    color: #fff;
}

.hero {
    max-width: 850px;
    margin: 60px auto;
    background: rgba(255, 255, 255, 0.02); 
    border: 1px solid rgba(255, 255, 255, 0.1); 
    border-radius: 20px;
    padding: 50px;
    backdrop-filter: blur(15px); 
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.perfil img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.1);
    object-fit: cover;
    margin-bottom: 25px;
}

.hero-content p {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
    color: #ffffff;
}

button, .btn {
    background: #ffffff;
    color: black;
    border: none;
    padding: 12px 35px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 15px;
}

button:hover {
    background: #cccccc;
    transform: translateY(-2px);
}

.section-dark {
    max-width: 850px;
    margin: auto;
    padding: 40px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
    font-weight: 400;
    text-align: center;
}

.bar {
    background: rgba(255, 255, 255, 0.05);
    height: 6px;
    border-radius: 10px;
    margin-bottom: 25px;
}

.progress {
    height: 150%;
    background: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.godot { width: 75%; }
.unity { width: 46%; }
.lua { width: 65%; }
.css { width: 60%; }

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 15px;
}

.card {
    background: rgba(255, 255, 255, 0.03);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.3s;
}

.card:hover {
    border-color: rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.06);
}

.card h3 {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.card p {
    color: #999;
    font-size: 0.9rem;
}

html {
    scroll-behavior: smooth;
}

.section-dark {
    max-width: 850px;
    margin: 60px auto; 
    padding: 40px;
    text-align: center; 
}

footer {
    max-width: 850px;
    margin: 40px auto;
    text-align: center;
    padding: 20px;
    border-top: 1px solid rgba(255,255,255,0.05);
    color: #888;
    font-size: 0.85rem;
}

.perfil {
    display: block;
    font-size: 35px;
}